.videofeed {
	background-color: #666;
    margin: 10px auto;
    height: 250px; 
    text-align:center;
}

.video {
	margin: 0 auto;  
}

.footer {
 	font-size: 65%;
	color: #aaa;
    margin: 0 auto;
  	text-align: center;
}

.crosh {
  	float:right;	
  	padding: 10px;
	background-color: #ddd;
    border: 1px gray;
  	border-radius: 10%;
	color: #444;
    font-weight: bold;
}

.crosh:hover {
  	background-color: #aaa;
    color: #222;
  